.Dash-Schedule {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(216, 216, 216);
  padding-top: 25px;
  & > div:first-child {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7px;
    p {
      cursor: pointer;
    }
    & > p:first-child {
      font-weight: bold;
      margin-right: 30px;
    }
  }
  & > div:last-child {
    & > div:first-child {
      margin-bottom: 15px;
      & > div {
        display: flex;
        padding: 12px 0;
        box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
        margin: 12px auto;
        border-radius: 8px;
        & > div {
          display: flex;
          margin-top: auto;
          margin-bottom: auto;
          justify-content: space-between;
          width: 100%;
          padding: 0 20px;
        }
        h4 {
          padding: 0 20px;
          font-weight: bold;
          font-size: 20px;
          color: $color-primary;
          border-right: 1px solid rgb(201, 201, 201);
        }
      }
    }
  }
  &Btn {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #eb824148;
    border-radius: 8px !important;
    color: $color-primary;
    font-weight: bold;
    padding: 8px 10px !important;
    &__icon {
      background-image: url("../../../Assets/Admin/dashboard/sch.svg");
      width: 19px !important;
      height: 20px !important;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
.w-98 {
  width: 98%;
}
.w-99 {
  width: 99.5%;
}
