.LogOutModal{
	border-radius: 20px;
	outline: none;
	padding: 50px 45px;
	@include respond(xs){
		padding: 30px 20px;
	}
	// Titulli ne modal
	&>h2{
		font-size: 30px;
		@include respond(xs){
			font-size: 20px;
		}
	}
	&__Btn{
		flex-direction: row-reverse;
		border: 1px solid $color-secondary;
		margin: 10px;
		font-size: 18px;
		&__icon{
			background-image: url("../../../Assets/Admin/dashboard/x.svg");
		}
	}
	&__Btn2{
		flex-direction: row-reverse;
		background-color: $color-secondary;
		margin: 10px;
		color: white;
		font-size: 18px;
		&__icon{
			background-image: url("../../../Assets/Admin/dashboard/leftArrow.svg");
		}
	}
}