.nav-item{
    margin: 0 20px;
    height: 100%;
    .nav-link{
        color: rgba(51,51,51,1);
        text-decoration: none;
        font-size: 20px;
        display: inline-flex;
        height: 100%;
        align-items: center;
        border: 2px solid transparent;
        transition: all .3s linear;
        &:hover,&:active,&.active{
            border-bottom: 2px solid rgba(235,131,65,1);
            
        }
    }
}