.banner {
  height: 1200px;
  display: flex;
  align-items: center;
  padding: 0 20px;

  .banner-img {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    background-size: 100% 100%;
    margin-left: -75px;
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: calc(100% + 1px);
      top: 0;
      left: 0;
      width: calc(100% + 1px);
      background-image: url("../../../Assets/mask.jpg");
      background-size: 100% 100%;
      border: none;
      mix-blend-mode: screen;
    }
    .content {
      display: none;
    }

    .main-title,
    .paragraph-1,
    .sub-title {
      color: white;
    }
  }

  .content {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    .paragraph-1 {
      margin: 30px 0;
    }
  }

  @media screen and (max-width: 1024px) {
    .content {
      margin-left: 0;
    }
  }
  @media screen and (max-width: 768px) {
    height: 800px;
    margin-top: 0;
    padding: 0;
    width: 100vw;
    padding-top: 80px;
    .banner-img {
      margin-top: -150px;
      width: 140vw;
      background-color: rgba(51, 51, 51, 0.6);
      background-blend-mode: overlay;
      .content {
        display: block;
        padding-left: 50px;
        max-width: unset;
        width: 70%;
        margin: 0 auto;
      }
    }
    .content {
      max-width: 400px;
      margin-left: 40px;
      display: none;
    }
  }

  @media screen and (max-width:500px){
      .banner-img{width: 150vw;
    padding-right: 40px;}
  }
}
