.use-feature{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: center 48%;

    .main-title{
        color: white;
        text-align: center;
        margin-bottom: 40px;
    }
    .styled-link{
        width: 250px;
    }
}