.logo {
  height: 41px;
  width: 130px;
  display: block;
  background-image: url("../../../Assets/Svg/logo-header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media screen and (max-width: 1200px) {
      height: 35px;
      width: 110px;
      margin-left: auto;
      margin-right: auto;
  }
  @media screen and (max-width: 600px) {
      height: 31px;
      width: 100px;
      margin-left: auto;
      margin-right: auto;
  }
  &.white {
    background-image: url("../../../Assets/Logo-white.png");
    width: 234px;
    height: 64px;
  }
 
  
}
